DeltaTextUserInterfaceApp {
    layout: vertical;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;

}

.box {
    height: 1fr;
}

QueueDisplay{
    height: 1fr;
}